<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="js/mui.min.js"></script>
		<link href="css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="css/mui.picker.min.css" />
		<link rel="stylesheet" type="text/css" href="css/indoor.css" />
		<script src="js/mui.picker.min.js"></script>
		<script src="js/vue.min.js"></script>
	</head>

	<body class="bg">
		<div id="app">
			<div class="wrapper">
				<form class="mui-input-group">
					<div class="mui-input-row">
						<input type="text" placeholder="请输入姓名" v-model="addData.name">
					</div>
					<div class="mui-input-row">
						<input type="text" placeholder="请输入手机号" v-model="addData.phone">
					</div>
					<div class="mui-input-row">
						<input type="text" placeholder="请选择部门" readonly @tap="selctBumen" v-model="addData.bumen.text">
					</div>
					<div class="mui-input-row">
						<input type="text" placeholder="请选择城市" readonly @tap="selectCity" v-model="addData.city.text">
					</div>
					<div class="mui-input-row">
						<input type="text" placeholder="请选择俱乐部" readonly @tap="selectClub" v-show="picker3" v-model="addData.club.text">
					</div>
					<div class="mui-input-row">
						<input type="text" placeholder="请选择活动" readonly @tap="selectActive" v-show="picker4" v-model="addData.active.text">
					</div>
					<img class="submitBtn" src="img/active_btn.png" @tap="submitData" />
				</form>
			</div>

		</div>
	</body>
	<script type="text/javascript" charset="utf-8">
		mui.init();
		var bumenPicker = undefined,
			cityPicker = undefined,
			clubPicker = undefined,
			activePicker = undefined;
		var bumenData = [{
				value: 'AS(售后)',
				text: 'AS(售后)'
			}, {
				value: 'Compliance(合规)',
				text: 'Compliance(合规)'
			}, {
				value: 'F&C(财务和控制)',
				text: 'F&C(财务和控制)'
			}, {
				value: 'HR/Administration(人力资源与行政)',
				text: 'HR/Administration(人力资源与行政)'
			}, {
				value: 'ND(网络发展)',
				text: 'ND(网络发展)'
			}, {
				value: 'PC&TU(党务工会)',
				text: 'PC&TU(党务工会)'
			}, {
				value: 'PM(产品管理)',
				text: 'PM(产品管理)'
			}, {
				value: 'PO(总经办)',
				text: 'PO(总经办)'
			}, {
				value: 'PR(公关部)',
				text: 'PR(公关部)'
			}, {
				value: 'S&M(销售和市场)',
				text: 'S&M(销售和市场)'
			}, {
				value: 'Sales Operations Smart/AMG/V-Class&Vito(V级车及Vito销售运营)',
				text: 'Sales Operations Smart/AMG/V-Class&Vito(V级车及Vito销售运营)'
			}, {
				value: '其他',
				text: '其他'
			}],
			activeData = [{
				value: '0',
				text: '北京',
				tabs: [{
					value: '0',
					text: '篮球俱乐部',
					tabs: [{
						value: '0',
						text: '篮球'
					}]
				}, {
					value: '1',
					text: '足球俱乐部',
					tabs: [{
						value: '0',
						text: '足球'
					}]
				}, {
					value: '2',
					text: '舞蹈俱乐部',
					tabs: [{
						value: '0',
						text: '舞蹈'
					}]
				}, {
					value: '3',
					text: '唱歌俱乐部',
					tabs: [{
						value: '0',
						text: '声乐'
					}]
				},
				{
					value: '4',
					text: '生活俱乐部',
					tabs: [{
						value: '0',
						text: '读书'
					},{
						value: '1',
						text: '烹饪'
					}]
				}]
			}, {
				value: '1',
				text: '天津',
				tabs: [{
					value: '0',
					text: '羽毛球俱乐部',
					tabs: [{
						value: '0',
						text: '羽毛球'
					}]
				}]
			},{
				value: '2',
				text: '成都',
				tabs: [{
					value: '0',
					text: '羽毛球俱乐部',
					tabs: [{
						value: '0',
						text: '羽毛球'
					}]
				},{
					value: '1',
					text: '瑜伽俱乐部',
					tabs: [{
						value: '0',
						text: '瑜伽'
					}]
				}]
			},{
				value: '3',
				text: '广州',
				tabs: [{
					value: '0',
					text: '网球俱乐部',
					tabs: [{
						value: '0',
						text: '网球'
					}]
				},{
					value: '1',
					text: '足球俱乐部',
					tabs: [{
						value: '0',
						text: '足球'
					}]
				},{
					value: '2',
					text: '生活方式俱乐部',
					tabs: [{
						value: '0',
						text: '瑜伽'
					},{
						value: '1',
						text: '插花'
					},{
						value: '2',
						text: 'BMBS南区健身房-形体健身'
					}]
				}]
			},{
				value: '4',
				text: '上海',
				tabs: [{
					value: '0',
					text: '羽毛球俱乐部',
					tabs: [{
						value: '0',
						text: '浦西 阿迪达斯羽毛球馆'
					},{
						value: '1',
						text: '浦东 博宽羽毛球馆'
					},
					{
						value: '2',
						text: '内部比赛'
					}]
				},{
					value: '1',
					text: '亲子俱乐部',
					tabs: [{
						value: '0',
						text: '室内书法'
					}]
				},{
					value: '2',
					text: '生活方式俱乐部',
					tabs: [{
						value: '0',
						text: 'Cooking'
					}]
				}]
			}]
		var indoorData = localStorage.getItem("indoorData");
		if(indoorData){
			indoorData = JSON.parse(indoorData);
			indoorData = {
				picker3: true,
				picker4: true,
				addData:{
					name: indoorData.name,
					phone: indoorData.phone,
					bumen: indoorData.department,
					city: indoorData.city,
					club: indoorData.club,
					active:indoorData.active
				}
				}
		}else{
			indoorData = {
				picker3: false,
				picker4: false,
				addData: {
					name: '',
					phone: '',
					bumen: '',
					city: '',
					club: '',
					active: ''
				}
					
				}
		}
		var vm = new Vue({
			el: '#app',
			data: indoorData,
			watch: {
				'addData.city': function(val, oldval) {
					vm.picker3 = true;
					vm.addData.club = '';
					vm.addData.active = '';
					vm.picker4 = false;
				},
				'addData.club': function(val, oldval) {
					if (val) {
						vm.picker4 = true;
						vm.addData.active = '';
					}
				}
			},
			methods: {
				selctBumen: function() {
					document.activeElement.blur();
					bumenPicker = new mui.PopPicker();
					bumenPicker.setData(bumenData);
					if (vm.addData.bumen) {
						bumenPicker.pickers[0].setSelectedValue(vm.addData.bumen.value);
					}
					bumenPicker.show(function(items) {
						vm.addData.bumen = items[0];
					});
				},
				selectCity: function() {
					document.activeElement.blur();
					cityPicker = new mui.PopPicker();
					cityPicker.setData(activeData);
					if (vm.addData.city) {
						cityPicker.pickers[0].setSelectedValue(vm.addData.city.value);
					}
					cityPicker.show(function(items) {
						vm.addData.city = items[0];
					});
				},
				selectClub: function() {
					document.activeElement.blur();
					clubPicker = new mui.PopPicker();
					clubPicker.setData(activeData[vm.addData.city.value].tabs);
					if (vm.addData.club) {
						clubPicker.pickers[0].setSelectedValue(vm.addData.club.value);
					}
					clubPicker.show(function(items) {
						vm.addData.club = items[0];
					});
				},
				selectActive: function() {
					document.activeElement.blur();
					activePicker = new mui.PopPicker();
					activePicker.setData(activeData[vm.addData.city.value].tabs[vm.addData.club.value].tabs);
					if (vm.addData.active) {
						activePicker.pickers[0].setSelectedValue(vm.addData.active.value);
					}
					activePicker.show(function(items) {
						vm.addData.active = items[0];
					});
				},
				submitData: function() {
					if (vm.addData.name && vm.addData.phone && vm.addData.bumen.text && vm.addData.city.text && vm.addData.club.text && vm.addData.active.text) {
						mui.ajax('/adduser', {
							data: {
								name: vm.addData.name,
								phone: vm.addData.phone,
								department: vm.addData.bumen.text,
								city: vm.addData.city.text,
								club: vm.addData.club.text,
								active: vm.addData.active.text,
								pageid: 1
							},
							dataType: 'json', //服务器返回json格式数据
							type: 'post', //HTTP请求类型
							timeout: 10000, //超时时间设置为10秒；
							headers: {
								'Content-Type': 'application/json'
							},
							success: function(data) {
								if (data.result == 0) {
									mui.alert('恭喜您报名成功');
									localStorage.setItem("indoorData",JSON.stringify({
								name: vm.addData.name,
								phone: vm.addData.phone,
								department: vm.addData.bumen,
								city: vm.addData.city,
								club: vm.addData.club,
								active: vm.addData.active,
							}));
								} else {
									mui.toast(data.reason, {
										type: 'div'
									});
								}
							},
							error: function(xhr, type, errorThrown) {
								mui.toast('请求发送失败', {
									type: 'div'
								});
							}
						});
						//url：		/adduser
						//method：	post
						//			pageid：num		//场馆类为1
						//｝
						//	Response：	｛
						//				result：0/1 		//success/failed
						//				reason：string
						//｝
					} else {
						mui.toast('请完整填写表单', {
							type: 'div'
						});
					}
				}
			}
		});
	</script>

</html>