<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="js/mui.min.js"></script>
		<link href="css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="css/mui.picker.min.css" />
		<link rel="stylesheet" type="text/css" href="css/outdoor.css" />
		<script src="js/mui.picker.min.js"></script>
		<script src="js/vue.min.js"></script>
	</head>

	<body class="bg">
		<div id="app">
			<div class="wrapper">
				<form class="mui-input-group">
					<div class="mui-input-row">
						<input type="text" placeholder="请输入姓名" v-model="addData.name">
					</div>
					<div class="mui-input-row">
						<input type="text" placeholder="请选择部门" readonly @tap="selctBumen" v-model="addData.bumen.text">
					</div>
					<div class="mui-input-row">
						<input type="text" placeholder="请选择城市" readonly @tap="selectCity" v-model="addData.city.text">
					</div>
					<div class="mui-input-row">
						<input type="text" placeholder="请选择俱乐部" readonly @tap="selectClub" v-show="picker3" v-model="addData.club.text">
					</div>
					<div class="mui-input-row">
						<input type="text" placeholder="请选择活动" readonly @tap="selectActive" v-show="picker4" v-model="addData.active.text">
					</div>
					<img class="modalBtn" src="img/outdoor_btn.png" @tap="openModal"/>
					<img class="submitBtn" src="img/active_btn.png" @tap="submitData" />
				</form>
				<div class="mui-backdrop" v-show="modalShow">
					<div class="modal">
						<div class="box">
							<div class="title">
								完善信息
							</div>
							<div class="content"  v-bind:style="{height: height + 'px' ,overflow: 'auto'}">
								<div>
									本人信息(必填)
								</div>
								<div class="from-group">
									<label>身份证</label>
									 <input type="text" v-model="addData.idCard"/>
								</div>
								<div class="from-group-radio">
									<label class="label">性别</label>
									<div class="mui-row">
										<div class="mui-col-xs-4 mui-radio mui-left">
										<label>男</label>
										<input name="radio1" type="radio" v-model="addData.sex" value="男">
									</div> 
									<div class="mui-col-xs-4 mui-radio mui-left">
										<label>女</label>
										<input name="radio1" type="radio" v-model="addData.sex" value="女">
									</div> 
									</div>
									
								</div>
								<div style="margin-bottom: 5px;">
									家属信息(没有可不填)
								</div>
								<div style="padding-bottom: 20px;" v-show="addData.members.length">
									<button type="button" style="margin-right: 10px;" class="mui-btn mui-btn-primary mui-btn-outlined" v-for="(member,index) in addData.members">
										{{member.name}}
										<span class="mui-icon mui-icon-closeempty" style="font-size: 18px;padding-left: 10px;" @tap="delMember(index)"></span>
									</button>
								</div>
								<div class="from-group">
									<label>姓名</label>
									 <input type="text" v-model="family.name"/>
								</div>
								<div class="from-group">
									<label>身份证</label>
									 <input type="text" v-model="family.idCard"/>
								</div>
								<div class="from-group-radio">
									<label class="label">性别</label>
									<div class="mui-row">
										<div class="mui-col-xs-4 mui-radio mui-left">
										<label>男</label>
										<input name="radio2" type="radio" v-model="family.sex" value="男">
									</div> 
									<div class="mui-col-xs-4 mui-radio mui-left">
										<label>女</label>
										<input name="radio2" type="radio" v-model="family.sex" value="女">
									</div> 
									</div>
								</div>
								<div style="padding: 15px 0 25px 0;">
									<div class="addBtn" @tap="addMember">添加家属</div>
								</div>
								<div class="from-group">
									<label>电话</label>
									 <input type="text" v-model="addData.phone"/>
								</div>
								<div class="from-group-radio" style="padding-left: 85px;">
									<label class="label">是否乘坐大巴</label>
									<div class="mui-row">
										<div class="mui-col-xs-6 mui-radio mui-left">
										<label>是</label>
										<input name="radio3" type="radio" v-model="addData.car" value="是">
									</div> 
									<div class="mui-col-xs-6 mui-radio mui-left">
										<label>否</label>
										<input name="radio3" type="radio" v-model="addData.car" value="否">
									</div> 
									</div>
								</div>
								<div style="text-align: center;">
									<img class="modalBtn" src="img/outdoor_modal.png" style="margin-top: 20px;" @tap="closeModal"/>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>

		</div>
	</body>
	<script type="text/javascript" charset="utf-8">
		mui.init();
		var bumenPicker = undefined,
			cityPicker = undefined,
			clubPicker = undefined,
			activePicker = undefined;
		var bumenData = [{
				value: 'AS(售后)',
				text: 'AS(售后)'
			}, {
				value: 'Compliance(合规)',
				text: 'Compliance(合规)'
			}, {
				value: 'F&C(财务和控制)',
				text: 'F&C(财务和控制)'
			}, {
				value: 'HR/Administration(人力资源与行政)',
				text: 'HR/Administration(人力资源与行政)'
			}, {
				value: 'ND(网络发展)',
				text: 'ND(网络发展)'
			}, {
				value: 'PC&TU(党务工会)',
				text: 'PC&TU(党务工会)'
			}, {
				value: 'PM(产品管理)',
				text: 'PM(产品管理)'
			}, {
				value: 'PO(总经办)',
				text: 'PO(总经办)'
			}, {
				value: 'PR(公关部)',
				text: 'PR(公关部)'
			}, {
				value: 'S&M(销售和市场)',
				text: 'S&M(销售和市场)'
			}, {
				value: 'Sales Operations Smart/AMG/V-Class&Vito(V级车及Vito销售运营)',
				text: 'Sales Operations Smart/AMG/V-Class&Vito(V级车及Vito销售运营)'
			}, {
				value: '其他',
				text: '其他'
			}];
		var activeData = [{
				value: '0',
				text: '北京',
				tabs: [{
					value: '0',
					text: '户外俱乐部',
					tabs: [{
						value: '0',
						text: '徒步'
					},{
						value: '1',
						text: '攀岩'
					},{
						value: '2',
						text: '骑行'
					},{
						value: '3',
						text: '皮划艇'
					},{
						value: '4',
						text: '马术'
					}]
				},{
					value: '1',
					text: '生活方式俱乐部',
					tabs: [{
						value: '0',
						text: '滑雪'
					}]
				},{
					value: '2',
					text: '摄影俱乐部',
					tabs: [{
						value: '0',
						text: '摄影理论'
					},{
						value: '1',
						text: '摄影棚拍'
					},{
						value: '2',
						text: '摄影外拍'
					}]
				}, {
					value: '3',
					text: '志愿者俱乐部',
					tabs: [{
						value: '0',
						text: '儿童希望之家'
					},{
						value: '1',
						text: '流浪动物关爱'
					},{
						value: '2',
						text: '义拍义卖'
					}]
				},
				{
					value: '4',
					text: '亲子俱乐部',
					tabs: [{
						value: '0',
						text: '亲子户外主题party'
					},{
						value: '1',
						text: '亲子木偶剧'
					}]
				}]
			}, {
				value: '1',
				text: '成都',
				tabs: [{
					value: '0',
					text: '生活方式俱乐部',
					tabs: [{
						value: '0',
						text: '攀岩'
					}]
				}]
			},{
				value: '2',
				text: '广州',
				tabs: [{
					value: '0',
					text: '生活方式俱乐部',
					tabs: [{
						value: '0',
						text: '卡丁车'
					},{
						value: '1',
						text: '马术'
					},{
						value: '2',
						text: '钓鱼及野趣'
					},{
						value: '3',
						text: '皮划艇'
					}]
				},{
					value: '1',
					text: '亲子俱乐部',
					tabs: [{
						value: '0',
						text: '番禺茂德公草堂(亲子)'
					},{
						value: '1',
						text: '亲子户外主题party'
					},{
						value: '2',
						text: '亲子木偶剧'
					},{
						value: '3',
						text: '森元纪法式西点(亲子)'
					}]
				}]
			},{
				value: '3',
				text: '上海',
				tabs: [{
					value: '0',
					text: '户外俱乐部',
					tabs: [{
						value: '0',
						text: '骑行'
					},{
						value: '1',
						text: '马术'
					},{
						value: '2',
						text: '徒步'
					},{
						value: '3',
						text: '滑冰'
					}]
				},{
					value: '1',
					text: '亲子俱乐部',
					tabs: [{
						value: '0',
						text: '锦江乐园(亲子)'
					},{
						value: '1',
						text: '未来生活体验馆(亲子)'
					},{
						value: '2',
						text: '儿童剧场'
					},{
						value: '3',
						text: '红酒品鉴'
					}]
				}]
			}];
			
		var outdoorData = localStorage.getItem("outdoorData");
		if(outdoorData){
			outdoorData = JSON.parse(outdoorData);
			outdoorData = {
				picker3: true,
				picker4: true,
				modalShow: false,
				addData:{
					name: outdoorData.name,
					phone: outdoorData.phone,
					bumen: outdoorData.department,
					city: outdoorData.city,
					club: outdoorData.club,
					active:outdoorData.active,
					sex: outdoorData.sex,
					members: outdoorData.members,
					car: outdoorData.bus,
					idCard: outdoorData.idCard
				},
				family: {
					sex:'男'
				},
				height: window.screen.height-80
			}
		}else{
			outdoorData = {
				picker3: false,
				picker4: false,
				modalShow: false,
				addData: {
					name: '',
					phone: '',
					bumen: '',
					city: '',
					club: '',
					active: '',
					sex: '男',
					members:[],
					car: '是',
					idCard: ''
				},
				family:{
					sex:'男'
				},
				height: window.screen.height-80
					
				}
		}
		var vm = new Vue({
			el: '#app',
			data: outdoorData,
			watch: {
				'addData.city': function(val, oldval) {
					vm.picker3 = true;
					vm.addData.club = '';
					vm.addData.active = '';
					vm.picker4 = false;
				},
				'addData.club': function(val, oldval) {
					if (val) {
						vm.picker4 = true;
						vm.addData.active = '';
					}
				}
			},
			methods: {
				selctBumen: function() {
					bumenPicker = new mui.PopPicker();
					bumenPicker.setData(bumenData);
					if (vm.addData.bumen) {
						bumenPicker.pickers[0].setSelectedValue(vm.addData.bumen.value);
					}
					bumenPicker.show(function(items) {
						vm.addData.bumen = items[0];
					});
				},
				selectCity: function() {
					cityPicker = new mui.PopPicker();
					cityPicker.setData(activeData);
					if (vm.addData.city) {
						cityPicker.pickers[0].setSelectedValue(vm.addData.city.value);
					}
					cityPicker.show(function(items) {
						vm.addData.city = items[0];
					});
				},
				selectClub: function() {
					clubPicker = new mui.PopPicker();
					clubPicker.setData(activeData[vm.addData.city.value].tabs);
					if (vm.addData.club) {
						clubPicker.pickers[0].setSelectedValue(vm.addData.club.value);
					}
					clubPicker.show(function(items) {
						vm.addData.club = items[0];
					});
				},
				selectActive: function() {
					activePicker = new mui.PopPicker();
					activePicker.setData(activeData[vm.addData.city.value].tabs[vm.addData.club.value].tabs);
					if (vm.addData.active) {
						activePicker.pickers[0].setSelectedValue(vm.addData.active.value);
					}
					activePicker.show(function(items) {
						vm.addData.active = items[0];
					});
				},
				openModal:function(){
					vm.modalShow = true;
				},
				closeModal:function(){
					var idCard = vm.addData.idCard;
					var sex = vm.addData.sex;
					var phone = vm.addData.phone;
					var car = vm.addData.car;
					if(!idCard || !sex || !phone || !car){
						mui.toast('请完善信息', {
							type: 'div'
						});
						return;
					}
					vm.modalShow = false;
				},
				addMember:function(){
					var name = vm.family.name;
					var idCard = vm.family.idCard;
					var sex = vm.family.sex;
					if(!name || !idCard || !sex){
						mui.toast('请填写家属信息', {
							type: 'div'
						});
						return;
					}
					vm.addData.members.push({
						name: name,
						idCard: idCard,
						sex: sex
					})
				},
				delMember: function(i){
					vm.addData.members.splice(i,1);
				},
				submitData: function() {
					if (vm.addData.name && vm.addData.phone && vm.addData.bumen.text && vm.addData.city.text && vm.addData.club.text && vm.addData.active.text &&vm.addData.idCard && vm.addData.car) {
						mui.ajax('/adduser', {
							data: {
								name: vm.addData.name,
								phone: vm.addData.phone,
								department: vm.addData.bumen.text,
								city: vm.addData.city.text,
								club: vm.addData.club.text,
								active: vm.addData.active.text,
								idCard: vm.addData.idCard,
								bus: vm.addData.car,
								members: vm.addData.members,
								pageid: 2
							},
							dataType: 'json', //服务器返回json格式数据
							type: 'post', //HTTP请求类型
							timeout: 10000, //超时时间设置为10秒；
							headers: {
								'Content-Type': 'application/json'
							},
							success: function(data) {
								if (data.result == 0) {
									mui.alert('恭喜您报名成功');
									localStorage.setItem("outdoorData",JSON.stringify({
										name: vm.addData.name,
										phone: vm.addData.phone,
										department: vm.addData.bumen,
										city: vm.addData.city,
										club: vm.addData.club,
										active: vm.addData.active,
										idCard: vm.addData.idCard,
										bus: vm.addData.car,
										members: vm.addData.members,
									}));
								} else {
									mui.toast(data.reason, {
										type: 'div'
									});
								}
							},
							error: function(xhr, type, errorThrown) {
								mui.toast('请求发送失败', {
									type: 'div'
								});
							}
						});
					} else {
						mui.toast('请完整填写表单', {
							type: 'div'
						});
					}
				}
			}
		});
	</script>

</html>