html,body{
	width: 100%;
	height: 100%;
	color: #ffffff;
	font-size: 16px;
	position: relative;
}
.bg{
	background: url('../img/index_bg.png') no-repeat;
	background-size: 100% auto; 
	background-position-y: center;
}
.wrapper{
	text-align: center;
	position: absolute;
	width: 100%;
	bottom: 8%;
}
.info{
	font-size: 10px;
	text-align: center;
    margin-left: 140px;
}
.btn{
	background: url('../img/index_btn.png') no-repeat;
	background-size: 100% auto;
	background-position-y: center;
	display: inline-block;
	padding: 24px 48px;
	text-align: center;
	float: left;
}
